@import '../Utils/Variables.scss';

.listContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;

  .list {
    width: 988px;
    height: 34px;
    background-color: $fourth-color;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    font-size: 1.2em;
    font-weight: 700;
    color: $secondary-color;
  }

  .rafter {
    font-size: 44px;
    font-weight: 550;
    color: $secondary-color;
    padding-bottom: 10px;
    cursor: pointer;
    transform: rotate(90deg);
    transition: transform 0.5s ease;
  }

  .rafterActive {
    transform: rotate(-92deg);
  }

  p {
    width: 988px;
    font-size: 1em;
    font-weight: 500;
    color: $primary-color;
    margin-bottom: 0;
    line-height: 1.8em;
    opacity: 0;
  }

  .listActive {
    opacity: 1;
    background-color: $third-color;
    border-radius: 0 0 5px 5px;
    margin-bottom: 25px;
    padding: 25px;
  }
}
