@import '../Utils/Variables.scss';

header {
  width: 88.4%;
  height: 68px;
  margin: 45px auto 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: auto;
    height: 68px;
  }

  nav a {
    width: 7.5em;
    height: 34px;
    color: $primary-color;
    font-size: 1.125em;
    font-weight: 500;
    margin-right: 57px;
  }
}
