@import '../Utils/Variables.scss';

header {
  width: 86.112%;
  height: 68px;
  margin: 45px auto 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: auto;
    height: 68px;
  }

  nav a {
    width: 7.5em;
    height: 34px;
    color: $primary-color;
    font-size: 1.125em;
    font-weight: 500;
    margin-left: 57px;
  }
}

// Style qui applique un soulignement au lien actif=
.nav-Active {
  border-bottom: 3px solid $primary-color;
  padding-bottom: 2px;
}
