@import '../Utils/Variables.scss';

header {
  width: 86%;
  height: 68px;
  margin: 45px auto 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 375px) {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  img {
    width: auto;
    height: 68px;

    @media screen and (max-width: 375px) {
      height: 47px;
      margin-left: 20px;
    }
  }

  nav {
    margin-right: 20px;
  }

  nav a {
    width: 7.5em;
    height: 34px;
    color: $primary-color;
    font-size: 1.125em;
    font-weight: 500;
    margin-left: 57px;

    @media screen and (max-width: 375px) {
      font-size: 1em;
      margin-left: 20px;
    }
  }
}

// Style qui applique un soulignement au lien actif=
.nav-Active {
  border-bottom: 3px solid $primary-color;
  padding-bottom: 2px;
}
